.cards-alinhamento {
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 4rem;
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }

  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }
